
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>A/C Control</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">

    <!-- Custom styles for this template -->
    <link href="/stylesheets/style.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="site-wrapper">
      <div class="site-wrapper-inner">
        <div class="cover-container">
          <div class="inner cover">
            <h1 class="cover-heading">A/C Control</h1>
              <h3 class="temperaturenow" style="color: #33ECFF;">%= temperature %</h3>
                  
                <div class="slidecontainer">
                  <input type="range" min="66" max="90" class="slider" id="temprange"><br>
                    <p>Desired Temperature: <span id="desiredtemp"></span>°F</p>
                      <button class="button on" type="button">On</button>
                      <button class="button off" type="button">Off</button>
                    </div>
                <script>
                var slider = document.getElementById("temprange");
                var output = document.getElementById("desiredtemp");
                output.innerHTML = slider.value;

                slider.oninput = function() {
                  output.innerHTML = this.value;
                }
              </script>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

    <script src="/socket.io/socket.io.js"></script>

    <script type="text/javascript">
    var socket = io.connect('/');

    $("#temprange").change(function(){
      socket.emit("stateChanged", this.value);
    });
    $

    $("#tempnow").change(function(){
      socket.on("updateTemp", this.tempSend);
    });
    </script>

  </body>
</html>
