
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>A/C Control</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">

    <!-- Custom styles for this template -->
    <link href="/stylesheets/style.css" rel="stylesheet">

    <!-- iOS icon -->
    <link rel="apple-touch-icon" href="/images/iosicon.png">

  </head>

  <body>

  <div class="site-wrapper">
    <div class="topbar">A/C Control</div>
    <div class="site-wrapper-inner">
      <div class="cover-container">
        <div class="inner cover">
          <div class="cover-heading">
          <span class="temperaturenow" <span id="tempNow"></span></span>
          <br>
          <h4>Desired Temperature: <span class="currentdesired" <span id="desiredtemp"></span></span></h4>
          <br>
              <button class="button minus" type="button" onclick="minusButton()">-</button>
              <button class="button plus" type="button" onclick="plusButton()">+</button>
              <br>
              <h5>Currently <span class="currentdesired" <span id="printstate"></span></span></h5>
              <button class="button on" type="button" onclick="onButton()">On</button>
              <button class="button off" type="button" onclick="offButton()">Off</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>  <!-- Begin socket.io scripts -->
    <script type="text/javascript">  <!-- Socket.io I/O scripts -->
    var socket = io.connect('/');
    
    function onButton() {
      socket.emit("onClicked");
    }
    function offButton() {
      socket.emit("offClicked");
    }
    function plusButton() {
      socket.emit("plusClicked");
    }
    function minusButton() {
      socket.emit("minusClicked");
    }
    socket.on("state", function(currentstate){
      if (currentstate == 1) {
        document.getElementById("printstate").innerHTML = "On";
      } else {
        document.getElementById("printstate").innerHTML = "Off";
      }
    });
    socket.on("desired", function(desiredData){
      document.getElementById("desiredtemp").innerHTML = desiredData + "°";
    });
    socket.on("tempUpdate", function(data){
      if (data != null){
      document.getElementById("tempNow").innerHTML = data + "°";
      }
    });
    </script>
  </body>
</html>
