
<!DOCTYPE html>

<!-- Framework of HTML credited to Kevin Sidwar - https://github.com/sidwarkd -->
<!-- Additional scripts and examples credited to W3schools slider and button tutorials -->
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>A/C Control</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">

    <!-- Custom styles for this template -->
    <link href="/stylesheets/style.css" rel="stylesheet">

  </head>

  <body>

  <div class="site-wrapper">
    <div class="site-wrapper-inner">
      <div class="cover-container">
        <div class="inner cover">
          <h1 class="cover-heading">A/C Control</h1>
          <h2 class="temperaturenow" style="color: #4CAF50;" <span id="tempNow"></span></h2>
          <br><h4>Desired Temperature: <span style="color: #4CAF50;" id="desiredtemp"></span><span style="color: #4CAF50;">°F</span></h4><br>
            <div class="slidecontainer">
              <input type="range" min="66" max="90" class="slider" id="temprange"><br><br>
              <button class="button on" type="button" onclick="onButton()">On</button>
              <button class="button off" type="button" onclick="offButton()">Off</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>

    <!-- Begin socket.io scripts -->
    <script type="text/javascript">  <!-- Socket.io I/O scripts -->
    var socket = io.connect('/');

    $("#temprange").change(function(){
      socket.emit("stateChanged", this.value);
    });
    $
    function onButton() {
      socket.emit("onClicked");
    }
    function offButton() {
      socket.emit("offClicked");
    }
    socket.on("tempUpdate", function(data){
      if (data != null){
      document.getElementById("tempNow").innerHTML = data + "°F";
      }
    });
    </script>
    <script>

    <!-- Slider script -->
    var slider = document.getElementById("temprange");
    var output = document.getElementById("desiredtemp");
    output.innerHTML = slider.value;

    slider.oninput = function() {
      output.innerHTML = this.value;
    }
    </script>

  </body>
</html>
